[Desktop Entry]
Version=1.0
Name=Crede Reservas
Exec=xdg-open https://crede-reservation.herokuapp.com/crede-reservation/dash.php
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=reservation
Categories=Network;WebBrowser;
Actions=NewWindow;NewPrivateWindow;
