<div id="view-form-equipments_activities" class="box box-primary">

  <div class="box-header with-border">
    <i class="fa fa-plus"></i>

    <h3 id="form-title-equipments_activities" class="box-title">New Category</h3>
  </div>


  <div class="box-body">
    <!-- form-group -->
    <div class="form-group">
      <label>Equipment:</label>
      <select id="form-equipment-equipments_activities" class="form-control" style="width: 100%;">
      </select>
    </div>
    <!-- /.form-group -->
    
    <!-- form-group -->
    <div class="form-group">
      <label>Activity:</label>
      <select id="form-activity-equipments_activities" class="form-control" style="width: 100%;">
      </select>
    </div>
    <!-- /.form-group -->

  </div>
  <!-- /.box-body -->

  <div class="box-footer">
    <button id="form-submit-equipments_activities" type="submit" class="btn btn-primary">Adicionar</button>
  </div>

</div>