<div id="view-form-equipments_my_activities">

  <div class="box-header">
    <i class="fa fa-plus"></i>

    <h3 id="form-title-equipments_my_activities" class="box-title"></h3>
  </div>


  <div class="box-body">
    <!-- form-group -->
    <div class="form-group">
      <label>Equipment:</label>
      <select id="form-equipment-equipments_my_activities" class="form-control" style="width: 100%;">
      </select>
    </div>
    <!-- /.form-group -->
    
    <!-- form-group -->
<!--     <div class="form-group">
      <label>Activity:</label>
      <select id="form-activity-equipments_my_activities" class="form-control" style="width: 100%;">
      </select>
    </div> -->
    <!-- /.form-group -->

    <!-- form-group -->
    <div class="form-group hide">
      <label for="form-activity-equipments_my_activities">Activity:</label>
      <input type="text" class="form-control" id="form-activity-equipments_my_activities" placeholder="">
    </div>
    <!-- /.form group -->

  </div>
  <!-- /.box-body -->

  <div class="box-footer">
    <button id="form-submit-equipments_my_activities" type="submit" class="btn btn-primary">Adicionar</button>
  </div>

</div>