<div id="view-form-mixed_data" class="box box-primary">

  <div class="box-header with-border">
    <i class="fa fa-plus"></i>

    <h3 id="form-title-mixed_data" class="box-title">New Category</h3>
  </div>


  <div class="box-body">
    <!-- form-group -->
    <div class="form-group">
      <label for="form-id-mixed_data">Id:</label>
      <input type="text" class="form-control" id="form-id-mixed_data" value="" disabled>
    </div>
    <!-- /.form group -->
    
    <!-- form-group -->
    <div class="form-group">
      <label for="form-fullname-mixed_data">Fullname:</label>
      <input type="text" class="form-control" id="form-fullname-mixed_data" placeholder="">
    </div>
    <!-- /.form group -->

    <!-- form-group -->
    <div class="form-group">
      <label for="form-age-mixed_data">age:</label>
      <input type="text" class="form-control" id="form-age-mixed_data" placeholder="">
    </div>
    <!-- /.form group -->

        <!-- form-group -->
    <div class="form-group">
      <label for="form-datetime_in-mixed_data">datetime_in:</label>
      <input type="text" class="form-control" id="form-datetime_in-mixed_data" placeholder="">
    </div>
    <!-- /.form group -->

        <!-- form-group -->
    <div class="form-group">
      <label for="form-born_date-mixed_data">born_date:</label>
      <input type="text" class="form-control" id="form-born_date-mixed_data" placeholder="">
    </div>
    <!-- /.form group -->

    <!-- form-group -->
    <div class="form-group">
      <label for="form-born_hour-mixed_data">born_hour:</label>
      <input type="text" class="form-control" id="form-born_hour-mixed_data" placeholder="">
    </div>
    <!-- /.form group -->

    <!-- form-group -->
    <div class="form-group">
      <label class="checkbox-inline">
        <input id="form-has_work-mixed_data" type="checkbox" data-toggle="toggle">
        Has work.
      </label>
    </div>
    <!-- /.form group -->

        <!-- form-group -->
    <div class="form-group">
      <label for="form-salary-mixed_data">salary:</label>
      <input type="text" class="form-control" id="form-salary-mixed_data" placeholder="">
    </div>
    <!-- /.form group -->

        <!-- form-group -->
    <div class="form-group">
      <label for="form-yield_in-mixed_data">yield_in:</label>
      <input type="text" class="form-control" id="form-yield_in-mixed_data" placeholder="">
    </div>
    <!-- /.form group -->

  </div>
  <!-- /.box-body -->

  <div class="box-footer">
    <button id="form-submit-mixed_data" type="submit" class="btn btn-primary">Adicionar</button>
  </div>

</div>