<div id="view-form-permissions" class="box box-primary">

  <div class="box-header with-border">
    <i class="fa fa-plus"></i>

    <h3 id="form-title-permissions" class="box-title">permissions</h3>
  </div>


  <div class="box-body">
    <!-- form-group -->
    <div class="form-group">
      <label>Username:</label>
      <select id="form-username-permissions" class="form-control" style="width: 100%;">
      </select>
    </div>
    <!-- /.form-group -->

    <!-- form-group -->
    <div class="form-group">
      <label>Module:</label>
      <select id="form-module-permissions" class="form-control" style="width: 100%;">
        <option value="activities">Activities</option>
        <option value="categories">Categories</option>
        <option value="equipments">Equipments</option>
        <option value="equipments_activities">Equipments-activities</option>
        <option value="mixed_data">Mixed Data</option>
        <option value="permissions">Permissions</option>
        <option value="places">Places</option>
        <option value="users">Users</option>
      </select>
    </div>
    <!-- /.form-group -->

        <!-- form-group -->
    <div class="form-group">
      <label class="checkbox-inline">
        <input id="form-c-permissions" type="checkbox" data-toggle="toggle">
        Insert data
      </label>
    </div>
    <!-- /.form group -->

        <!-- form-group -->
    <div class="form-group">
      <label class="checkbox-inline">
        <input id="form-r-permissions" type="checkbox" data-toggle="toggle">
        Visualize data
      </label>
    </div>
    <!-- /.form group -->

        <!-- form-group -->
    <div class="form-group">
      <label class="checkbox-inline">
        <input id="form-u-permissions" type="checkbox" data-toggle="toggle">
        Modify data
      </label>
    </div>
    <!-- /.form group -->

        <!-- form-group -->
    <div class="form-group">
      <label class="checkbox-inline">
        <input id="form-d-permissions" type="checkbox" data-toggle="toggle">
        Remove data
      </label>
    </div>
    <!-- /.form group -->

  </div>
  <!-- /.box-body -->

  <div class="box-footer">
    <button id="form-submit-permissions" type="submit" class="btn btn-primary">Adicionar</button>
  </div>

</div>